<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>React+Flux Bloggin App</title>
  <link rel="stylesheet" type="text/css" href="bower_components/skeleton/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="bower_components/skeleton/css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="container" id="app"></div>
  <script type="text/javascript">
    // - instead of = makes the value not be escaped
    var USER = <%- user %>;
  </script>
  <script src="/build/bundle.js"></script>
</body>
</html>
